section {
	padding: 50px;
}

header {
  	position: fixed;
	padding: 10px;
	margin-top: 20px;
	margin-left: 50px;
    color: black;
    background-color: #4aaaa5;
    border-color: #cccccc;
    clear: both;
    text-align: center;
    font-family:'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
}

.icons {
	display: block;
	float: right;
}

#amHeader {
	padding: 50px;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 30px;
    background-color: #ffffff;
    border-color: #dddddd;

}

#contactMe {
	position: right;
	background-color: #ffffff;
	border-color: #dddddd;
}

#Aboutme {
	padding: 10px;
	width: 550px;
	color: #777777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ffffff;
	border-color: #dddddd;
	
}

.menuBar {
	position: fixed;
	top: 0;
	right: -0;
	font-size: 20px;
	color: #777777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#image {
	padding: 10px;
	overflow: 50;
	height: 300px;
	width: 250px;
}



footer {
	text-align: center;
	background: #666666;
	padding: 20px;
	clear: both;
}